body {
    height: 100vh;
    width: 100vw;
}
header {
    display: flex;
    justify-content: flex-start;
    background-color: hsl(217, 89%, 61%);
    border-radius: 5px;
}
h1 {
    margin-left: 2rem;
    font-family: futura, sans-serif;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(https://www.parentmap.com/c/54330b25/images/category-photos/family_night_kids_at_movie_theater_istock_000026995660.jpg);
    background-size: cover;
    border-radius: 5px;
    height: 80%;
    width: 100%;
}
form {
  display: flex;
  justify-content: center;
}
button {
    height: 2rem;
    width: 4rem;
    background-color: hsl(5, 81%, 56%);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
input {
    height: 1.6rem;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
label {
    margin-left: 5rem;
    color: white;
}
footer {
    display: flex;
    justify-content: center;
    background-color: hsl(217, 89%, 61%);
    border-radius: 5px;
}
